*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:white;
    overflow:hidden;
}

.contenedor{
    width:100%;
    height:100vh;
    display:flex;
}
.triangulo1{
    width:100px;
    height:100px;
    background:#4A148C;
    position:absolute;
    top:-400px;
    left:-10px;
    transform:rotate(45deg);
}


.triangulo2{
    width:520px;
    height:420px;
    background:#9C27B0;
    position:absolute;
    top:-10px;
    left:-90px;
    transform:rotate(45deg);
}


.izquierda{
    width:36%;
    height:100vh;
    position:relative;
    overflow:hidden;
}




/* Logo */
.logo{
    width:390px;
    position:absolute;
    left:15px;
    top:340px;
    z-index:2;
}



.derecha{
    width:64%;
    padding-top:48px;
    padding-left:10px;
    padding-right:40px;
}


/* TÍTULO PRINCIPAL */

h1{
    color:#691B31;
    font-size:58px;
    line-height:1.08;
    font-weight:bold;
    margin:0;
}


/* SUBTÍTULO */

h2{
    margin-top:10px;
    color:#333;
    font-size:17px;
    font-weight:normal;
}




ul{
    list-style:none;
    margin-top:35px;
    padding:0;
}

ul li{
    margin-bottom:14px;
}

ul li a{
    display:flex;
    align-items:center;
    gap:14px;

    width:100%;
    max-width:650px;

    background:#A02142;
    color:white;

    padding:12px 18px;

    border-radius:8px;
    border:2px solid #A02142;

    text-decoration:none;

    font-size:17px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 3px 7px rgba(0,0,0,0.20);
}


/* ICONOS */

i{
    color:white;
    width:25px;
    min-width:25px;
    text-align:center;
    font-size:19px;
}


/* EFECTO AL PASAR EL MOUSE */

ul li a:hover{
    background:#084DA8;
    border-color:#084DA8;
    transform:translateX(5px);
    box-shadow:0 5px 12px rgba(0,0,0,0.25);
}


/* EFECTO AL PRESIONAR */

ul li a:active{
    transform:scale(0.98);
}





.contacto{
    margin-top:30px;
    font-size:18px;
    color:#333;
    line-height:30px;
}

.contacto h2{
    color:#691B31;
    margin-bottom:10px;
    font-size:25px;
}

.contacto a{
    color:#0066cc;
    text-decoration:none;
}




@media (max-width:1100px){

    .izquierda{
        width:35%;
    }

    .derecha{
        width:65%;
        padding-left:15px;
    }

    h1{
        font-size:48px;
    }

    ul li a{
        max-width:600px;
        font-size:16px;
    }

    .logo{
        width:330px;
        left:5px;
        top:320px;
    }
}
